.Main{
  
}
.NFT_section{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 0.25rem;

}

.NFTCard {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 10rem;
  cursor: pointer;
}
.NFTCard_img{
  height: 230px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.NFTCard_box {
  background-color:#fff;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 340px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
  font-family: "Montserrat",sans-serif;
}
.NFTCard_box:hover .last_sale{
  display: none;

}
.NFTCard_box:hover .NFT_purchase_section{
  transform: translateY(-45px);
}
.NFTCard_img:hover{
  transform: scale(1.2);
}
.NFT_course_info{
  padding: 10px;
  font-size: 14px;
  
}
.NFT_course_name{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
}
.NFT_course_price{
  font-weight: 500;
}
.last_sale{
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: -5px;
  color: #008000;
}
.last_sale_price{

}

.NFT_purchase_section{
  background-color: #008000;
  height: 45px;
  display: flex;
  flex-direction: row;
  color: #fff;
  position: relative;
  bottom: -45px;
  transition: transform 0.3s ease-out;
  
}
.NFT_unlock_btn{
  width: 83%;
  text-align: center;
  margin-left: 10px;
  line-height: 40px;
  font-weight: 600;
  border-right: #fff 1px solid;

}
.NFT_unlock_btn_img{
  display: flex;
  width: 17%;
  justify-content: center;
  align-items: center;

}
.NFT_unlock_img{
  height: 25px;
  margin-top: -5px;
}
.NFTCard_box_update {
  grid-column: 1 /-1;
  grid-row: 1 /-2;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 0;
  overflow: hidden;
}

.NFTCard_box_update_left {
  background-color: var(--icons-color);
  /* padding: 0.5rem 1rem; */
  color: var(--main-bg-color);
  border-radius: 2rem;
  margin: 1rem;
}

.NFTCard_box_update_left_like {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.NFTCard_box_update_left_like_icon {
  color: var(--main-bg-color);
}

.NFTCard_box_update_right {
  background-color: var(--shadow-light-color);
  padding: 5px 5px 0px 0px;
  text-align: center;
  transform: skewX(45deg);
  border-bottom-left-radius: 1rem;
}

.NFTCard_box_update_right_info {
  transform: skewX(-45deg);
  background-color: var(--shadow-light-color);
}

.NFTCard_box_update_right_info p {
  font-size: 1.2rem;
  font-weight: 800;
}

.NFTCard_box_img {
  grid-column: 1 / -1;
  grid-row: 1 / end;
  overflow: hidden;
  
}

.NFTCard_box_img_img {
  border-radius: 1rem;
  transition: all 0.4s ease-in;
}

.NFTCard_box_update_details {
  grid-column: 1 /-1;
  grid-row: 3 / 0;

  z-index: 1;
  align-items: flex-end;

  overflow: hidden;
}

.NFTCard_box_update_details_price {
  background-color: var(--shadow-light-color);
  margin-left: -10px;
  padding: 0rem 0 0.5rem 0;
  transform: skewX(45deg);
  border-top-right-radius: 1rem;
}

.NFTCard_box_update_details_price_box {
  transform: skewX(-45deg);
  padding-left: 20px;
}

.NFTCard_box_update_details_price_box h4 {
  font-size: 1.3rem;
}

.NFTCard_box_update_details_price_box_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.NFTCard_box_update_details_price_box_bid {
  border: 1px solid var(--icons-color);
  padding: 0.2rem 0.5rem;
  align-items: center;
  border-radius: 0.3rem;
}

.NFTCard_box_update_details_price_box_bid small {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.NFTCard_box_update_details_price_box_bid p {
  padding: 0.5rem 0 0 0;
  font-weight: 600;
}

.NFTCard_box_update_details_category {
  color: var(--icons-color);
  text-align: end;
  margin: 1.5rem;
  font-size: 1.5rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .NFTCard {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-bottom: 10rem;
  }

  .NFTCard_box_update_right {
    padding: 0.5rem 2rem;
  }

  .NFTCard_box_update_right_info p {
    font-size: 1rem;
  }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
  .NFTCard {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
 
  

  .NFTCard_box_update_right {
    padding: 0.5rem 2rem;
  }

  .NFTCard_box_update_right_info p {
    font-size: 1rem;
  }
  .NFTCard_img{
    height: 185px;
  }
  .NFT_unlock_btn_img{
    width: 0%;
  }
  .NFT_unlock_btn{
    border:none;
    width: 100%;
  }
  .last_sale{
    font-size: 15px;
  }
  .NFT_purchase_section{
    bottom: -80px;
  }
 
  
}

@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
  .NFTCard {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
  .NFT_course_name {
    font-size: 14px;
  }
}
